@charset "utf-8";
/* CSS Document */

.margin60{ margin-top:60px;}
.margin40{margin-bottom: 40px;}

.left{float:left;}

.blog-left, .blog-right{margin-top:34px;}
.blog-left .carousel-control{top:80%; background:transparent;opacity:1;}
.blog-left .left.carousel-control{right:70px;}
.blog-left .right.carousel-control{right:20px;}
.blog-left .carousel-control .glyphicon-chevron-left, .blog-left .carousel-control .glyphicon-chevron-right{width: 35px;height: 35px; border:none;}
.blog-left .carousel-control .glyphicon-chevron-left:before, .blog-left .carousel-control .glyphicon-chevron-right:before{content:"";}
.blog-left .carousel-control.left .glyphicon-chevron-left{ background:url(../img/alila/arrow011.png) no-repeat;}
.blog-left .carousel-control.right .glyphicon-chevron-right{ background:url(../img/alila/arrow011.png) -38px 0 no-repeat;}

.date-cont{ font-size:12px; border-bottom:1px solid #eeeeee; color:#999; font-family:'open_sansregular'}
.date-cont span{ text-align:right; float:right;}
.margin0{ margin:0 auto;}
.heading-text{ font-size:27px; font-family:'bebas_neue_regularregular';margin:15px 0 18px; color:#030202;}
.text_part{ margin-bottom:60px;}
.text-para{ font-family:'open_sansregular'; font-size:14px; line-height:20px; color:#9e9e9e; margin-bottom:0;}
.read-more{margin:20px 0 0 0;}
.read-more a{ color:#ec2f35; font-size:14px; font-weight: 600;}
.che-rght{ margin-left:5px;}
.pagenation-total{ float:left; vertical-align:middle; margin-top:20px; font-family:'open_sansregular'; font-size:12px; color:#9e9e9e;}
.pagination>li>a{ margin:2px; padding: 1px 8px; color:#9e9e9e;}
.blog-right{ background:#f7f8f8; height:auto; padding:15px;}
.paddLR0{ padding:0px;}
.fasion ul li{ font-size:12px;font-family:'open_sansregular'; color:#676767; border-bottom:thin solid #e9e9e9;line-height: 14px; padding:15px;}
.fasion ul li.active{ font-weight:bold;}

.fasion ul li:last-child{ border-bottom:none;}

.fash{ border-bottom:thin solid #e9e9e9; font-size:15px; font-family:'open_sansregular'; color:#676767; font-weight:bold;}

.panel-default>.panel-colr{color: #333;background:transparent; padding:15px 5px 15px 10px;cursor: pointer;}

.panel-heading .accordion-toggle:after, .panel-heading .accordion-toggle.collapsed:after{content: "\f067";float: right;font-weight: 200;font-family: 'FontAwesome'; color:#787878; border:none;font-size:16px;}

.acc-head.acc-icon::after, .acc-head1.acc-icon1::after, .acc-head2.acc-icon2::after{content: "\f068";}

.blog-right .panel-group{ margin-bottom:60px;}

.blog-right .panel-body{ padding:0;}

.blog-right .panel-body .fasion{ margin-left:15px;}

.blog-right .slider{ margin-top:30px;}

.blog-right .slider .carousel-control {
    width:20px;
    height:20px;
    top: -70px;
	background:transparent;
	opacity:1;
}
.blog-right .slider .carousel-control.left{right:15px;}
.blog-right .slider .carousel-control.left .glyphicon-chevron-left{ background:url(../img/left.png) no-repeat; border:none;width:20px; height:20px;}
.blog-right .slider .carousel-control.right .glyphicon-chevron-right{ background:url(../img/right.png) no-repeat; border:none;width:20px; height:20px;}
.blog-right .carousel-control .glyphicon-chevron-left:before, .blog-right .carousel-control .glyphicon-chevron-right:before{content:"";}

.l-post01{ margin-top:0px!important; margin-bottom:0px!important;}
.img-marg{ margin-top:30px;}
.mLR0{ padding:0px;}
.pannel-deflt{ background:transparent; border-top:none; border-left:none; border-right:none; border-bottom:thin solid #e9e9e9; padding:0;box-shadow: none;}
{ background: }
.latest-post{font-family:'open_sansregular'; color:#676767;border-bottom:thin solid #cdcccc; padding-bottom:20px;}
.cir-l{ float:right;}
.slider-right{ height:150px;}
.loream{ letter-spacing:1px;}
.slider-righ{ height:160px;}
.loream{ color:#676767; font-size:13px; font-weight:bold; word-spacing: 4px; line-height: 20px; margin-top:7px;}
.L-post{ font-weight:bold; font-size:15px; color:#555555; margin-bottom:0;}
.s-beauty{ font-family:'open_sansregular'; color:#333333; margin-top: 15px; font-size:14px;}
.s-beautytext{font-family:'open_sansregular'; color:#676767; font-size:12px; line-height:24px;}
.s-italic{ font-family:'open_sansregular'; font-style:italic; color:#65908a; font-size:14px;}
.s-italic span{ float:right; color:#c3c3c3; }
.s-date{ font-family:'open_sansregular';color:#787878; font-size:12px; text-transform:uppercase;font-weight: bold;}
.btn-default-style {
    color: #606061;
    background-color: #fff;
    border-color: #e3e3e3;
    margin: 5px;
	padding: 4px 8px;
	font-weight:bold;
	font-family:'open_sansregular';
	font-size:13px;
	border-radius:0;
}
.btn-default-style:hover{background-color: #fff;}
.panel-group .panel {
   
    border-radius: 0px;
}
.mare-top{ padding-top:30px;}
.s-amet{ font-size:14px; font-weight:bold; font-family:'open_sansregular'; color:#676767; margin-left:10px;}
.arrow-size{ margin-left:30px; width:20px; }

.slider .img{width:30%;}
.slider .text{width:68%; margin-left:2%;}

.section05 .s-beauty{ font-family:'open_sansregular'; color:#676767; margin-top:0; margin-bottom:5px; font-size:14px;line-height: 20px;font-weight: bold;}
.section05 .s-italic{ float:left; color:#333; margin-bottom:0;}
.section05 .slider .img{width:40%;}
.section05 .slider .text{width:58%; margin-left:2%;}
