.bagR .navbar-nav>li>a {padding:0;}
.bagR  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background:none;}
.bagR  .nav>li>a:focus, .nav>li>a:hover {background:none;}
.bagR ul.dropdown-cart {min-width:296px; margin-right:-26px; right:-49px; left:inherit;}
.bagR ul.dropdown-cart li .item {display:block; padding:3px 10px; margin:3px 0;}
.bagR ul.dropdown-cart li .item:hover {background-color:#f3f3f3;}
.bagR ul.dropdown-cart li .item:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.bagR ul.dropdown-cart li .item-left {float:left;}
.bagR ul.dropdown-cart li .item-left img, ul.dropdown-cart li .item-left .item-info {float:left;}
.bagR ul.dropdown-cart li .item-left .item-info {margin-left:10px; color:#000;}
.bagR ul.dropdown-cart li .item-left .item-info p{display:block;}
.bagR ul.dropdown-cart li .item-left .item-info .p-name {font-family:'bebas_neue_regularregular'; font-size:16px; margin-bottom:1px;}
.bagR ul.dropdown-cart li .item-left .item-info .p-price {font-family:'open_sansregular', sans-serif; margin-bottom:0;}
.bagR ul.dropdown-cart li .item-right {float:right;}
.bagR ul.dropdown-cart li .item-right a {margin-top:0px; color:#000; font-size:12px !important; font-weight:bold;}
.bagR .view-cart {text-align:center; font-family:'bebas_neue_regularregular'; font-size:16px;  background:#00afa9; text-transform: uppercase;     letter-spacing: 1px; vertical-align:middle;  display:block; padding:9px; color:#fff;}
.bagR .pop-cart {width:39px;}