@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
#home-banner .fade-carousel {position: relative;}
#home-banner .fade-carousel .carousel-indicators > li {margin:0 2px; background-color:#f39c12; border-color:#f39c12; opacity:.7;}
#home-banner .fade-carousel .carousel-indicators > li.active {width:10px; height:10px; opacity:1;}
/*----------Hero Headers------- */
#home-banner  .hero { position:absolute; top:50%; left:28%; z-index:3; color:#fff; text-align:left; text-transform:uppercase;
text-shadow:1px 1px 0 rgba(0,0,0,.75); -webkit-transform:translate3d(-50%,-50%,0); -moz-transform: translate3d(-50%,-50%,0);
-ms-transform: translate3d(-50%,-50%,0); -o-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0);}
#home-banner .hero h1 {font-size:76px; font-weight:bold; font-family: 'bebas_neue_regularregular'; margin:0; padding:0;}
#home-banner .hero h3 {font-size:39px; text-transform:uppercase; font-weight:bold; letter-spacing:2px; margin-top:9px; 
font-family:'bebas_neue_regularregular';}
#home-banner .hero p {font-size:12px; text-transform:uppercase; font-weight:bold; font-family: 'open_sansregular', sans-serif; line-height:19px;}
#home-banner .fade-carousel .carousel-inner .item .hero {opacity:0; -webkit-transition:2s all ease-in-out .1s; -moz-transition: 2s all ease-in-out .1s; 
-ms-transition: 2s all ease-in-out .1s; -o-transition: 2s all ease-in-out .1s; transition: 2s all ease-in-out .1s;}
#home-banner .fade-carousel .carousel-inner .item.active .hero {opacity: 1; -webkit-transition: 2s all ease-in-out .1s;
-moz-transition:2s all ease-in-out .1s; -ms-transition:2s all ease-in-out .1s; -o-transition: 2s all ease-in-out .1s; transition:2s all ease-in-out .1s;}
/*--------- Overlay-------------*/
/*#home-banner .overlay {position:absolute; width:100%; height:100%; z-index:2; background-color:#080d15; opacity:.7;}*/
/* -----------------Custom Buttons--------------------------*/
#home-banner .btn.btn-lg {padding:17px 56px;}
#home-banner .btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {font-family: 'bebas_neue_regularregular'; 
color: #fff; border-radius:0; letter-spacing:2px; background-color:#00afa9; font-size:16px; border-color:#00afa9;
outline:none; margin:9px auto;}
@media screen and (max-width:767px) {
#home-banner .fade-carousel .carousel-inner .item .hero {display:none;}
}
@media screen and (min-width:768px) and (max-width:992px) {
#home-banner .hero {left:39%; font-size:70%;}
#home-banner .hero h1 {font-size:59px;}
#home-banner .hero h3 {font-size:29px; margin-top: 2px;}
#home-banner .btn.btn-lg { padding: 9px 36px;}
}
