@charset "utf-8";
/* CSS Document */
.breadcrumb {background:none; padding-left:0; margin-top:8px; margin-bottom: 3px; padding-top:0;}
.breadcrumb li a {color:#666;}
.breadcrumb > .active  {color:#f23730!important;}
.breadcrumb>li+li:before {content: ">"; margin-right:6px;}
.question-heading{ padding:px; background:#000;}
.indiakala-questext{ margin-left:31px; margin-top:10px; font-size:20px; font-weight:bold; color:#FFF;}
.form-text{ width:100%; color:#787878; font-weight:inherit; font-size: 15px; font-family: 'open_sansregular';}
.form-n-cont{ width:90%; border-radius:0px; font-size: 15px; font-family: 'open_sansregular';}
.text-mid{ padding:46px 0; margin-bottom:40px;}
.forget-pass{ color:#ee5155; padding-top:5px; font-size:15px; font-family: 'open_sansregular';}
.why-course{ color:#787878;font-size:15px; line-height:20px; font-family: 'open_sansregular';}
.why-course01{ color:#787878;font-size:15px; line-height:20px; padding-left:20px; font-family: 'open_sansregular';margin-bottom: 20px;}
.fa-tim{ padding-top:20px;}
.test-para{ color:#787878;font-size:15px; line-height:15px; padding-left:15px; font-family: 'open_sansregular';}
.button01{margin:25px; padding:10px 20px; background:#00afa9; border-radius:0px; font-family: 'bebas_neue_regularregular'; color:#FFF; 
font-weight:bold; font-size:17px; margin-bottom: 6px; letter-spacing: 1px; border:1px solid #00afa9; outline:none;}
.login{ padding:40px 92px 30px; margin-bottom:10px; color:#787878;}
.button02{ padding:10px 20px; background:#336699; border-radius:0px; text-align:center; display:block; margin:auto; color:#FFF; 
font-family: 'open_sansregular';}
.button03{ padding:10px 25px; background:#dd4c30; border-radius:0px; text-align:center; display:block; margin:auto; margin-top:20px; 
font-family: 'open_sansregular'; color:#FFF;}
.radio-inline+.radio-inline {margin-top:0; margin-left:126px; font-size:15px;}
/*.col-sm-4 { padding:0px;}*/
.text-latest-form{ padding-left:15px; color: #787878;}
.radio-inline {padding-left:62px; color: #787878;}
.sign-up-text{ padding-top:25px; font-size:12px; line-height:18px; font-family: 'open_sansregular'; color: #787878;}
.btn-button04{ padding:12px 26px; background:#00afa9; margin:20px 0 40px 15px; font-family: 'bebas_neue_regularregular'; 
border-radius:0px; color:#FFF; font-weight:bold; font-size:17px;  border:1px solid #00afa9; outline:none; letter-spacing:1px;}
.face-icon{ color:#FFF;}
.form-n-cont{border: 1px solid #868686;}
.btn-default:hover{background-color:inherit; border-color:inherit; }
.fom-L0{ margin-left:20px;}
.radio-inline input[type=radio]{ margin-top:8px;}
.text-mid01{padding:18px 46px;}
.fa-tim01 {padding-top:5px;}
.cont-MTOp{ margin-top:46px;}
.fa-timM0{ margin-top:-10px;}
.blog-Ret {
   
    margin-top: 39%;}

@media screen and (max-width: 768px){
.text-mid {padding:0px;}
.login {padding:0px;text-align: center; display: block;}
.why-course{ margin-top:20px;}
.button03{ margin-bottom:20px;}
.radio-inline+.radio-inline { margin-left:0px;}
.btn-button04{text-align: center; display:block; margin:auto;}
.button01{text-align: center; display: block; margin:auto;}
.text-mid01{ padding:0px;}
.fom-L0{ margin-left:0px;}
}

#sign_sec{display:none;}