@charset "utf-8";
/* CSS Document */
.mega-dropdown {position:static !important;}
.mega-dropdown-menu {padding:20px 0px; width:100%; box-shadow:none; -webkit-box-shadow:none;}
.mega-dropdown-menu > li > ul {padding:0; margin:0;}
.mega-dropdown-menu > li > ul > li {list-style:none;}
.mega-dropdown-menu > li > ul > li > a {display:block; color:#222; padding:3px 5px;}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {text-decoration:none;}
.mega-dropdown-menu .dropdown-header {font-size:18px; color:#ff3546; padding:5px 60px 5px 5px; line-height:30px;}
.carousel-control {width:30px; height:30px; top:-35px;}
.left.carousel-control {right:30px; left:inherit;}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {font-size:12px; background-color:#fff; line-height:30px; text-shadow:none; color:#333; border:1px solid #ddd;}
.navbar-inverse .navbar-nav>li>a {font-family: 'bebas_neue_regularregular'; font-size:21px; color:#242122; margin-right:55px;
padding-top:12px;padding-bottom:16px; position:relative;}




@media screen and (min-width:768px) and (max-width:992px) {
.navbar-inverse .navbar-nav>li>a {font-family: 'bebas_neue_regularregular'; font-size:17px; color:#242122; margin-right:9px; padding-top:12px;}
}
@media screen and (min-width:993px) and (max-width:1024px) {
.navbar-inverse .navbar-nav>li>a {font-family: 'bebas_neue_regularregular'; font-size:20px; color:#242122; margin-right:26px; padding-top:12px;}
}
@media screen and (min-width:768px){
	.navbar-inverse .navbar-nav>li:last-child>a{margin-right:0px;padding-right:0px; float:right; padding-left:0;} 
.navbar-inverse .navbar-nav>li:first-child>a{padding-left:0px;} 
.navbar-inverse .navbar-nav>li:last-child {float:right;}
	.navbar-nav {float:inherit;}
.DesktopR0 {padding-right:0;}
.last-dropdown .dropdown-menu {right:0; left:inherit;}
.full-menubar .navbar-inverse {background:#fff; border:0; border-radius:0; margin-bottom:0; min-height:auto;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover  {color:#1cb793;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { background-color:transparent; color:#1cb793;}
.navbar-inverse .navbar-nav>li>a:hover:after {position:absolute;top: 0;right:0px;bottom:-3px; z-index:999999999;display:block; width:100%;
border-bottom:6px solid #1cb793; content: "";}
.navbar-inverse .navbar-nav>li>a:focus:after {position:absolute;top: 0;right:0px;bottom:-3px; z-index:999999999;display:block; width:100%;
border-bottom:6px solid #1cb793; content: "";}
.open .border-active:after {position:absolute;top: 0;right:0px;bottom:-3px; z-index:999999999;display:block; width:100%;
border-bottom:6px solid #1cb793; content: "";}
.navbar-inverse .navbar-right>li>a:hover:after {border:none !important;}
}
.drop-widthR h4 {font-size:16px; margin-top:2px;  margin-bottom:13px;}
.drop-widthR ul li {line-height:21px;}
.drop-width {border-right:1px solid #858585; width:26.6%;}
.drop-widthR {width:20.2%;}
.drop-01 {background:#01b0aa; width:100%; height:179px;}
.img-desc h4 {font-size:16px;}
.img-desc p {font-size:15px; line-height: 18px;}
@media screen and (max-width:767px){
.full-menubar .navbar-inverse .navbar-nav>li>a {color:#fff; margin-right:0;}
.full-menubar .navbar-inverse .navbar-nav>li>a{font-size:18px;}
}
@media screen and (min-width:1000px){
.navbar-header{display:none;}
}