@charset "utf-8";
/* CSS Document */

.account_container .head_text {font-size:20px; margin:15px 0;}
.account-left {padding:9px 0 29px 0; min-height:639px; background:url(../img/pattern-bg.jpg) repeat; width:25%; margin-right:16px;  margin-bottom:9px;}
.account-right {padding-top:19px;  margin-bottom:16px; width:68%;}
.account-left ul li {padding:11px 9px 11px 31%; border-bottom:2px solid #cccccc;}
.account-left ul li a {color:#555656; font-size:17px;}
.account-left ul li a:hover {font-weight:bold;}
.account-left ul li a:focus {font-weight:bold;}
.account-left ul li a.active {font-weight:bold;}
.account-right h4 {font-size:17px; text-transform:uppercase; margin-bottom:12px;}
.account-right p {font-size:14px; line-height: normal; color:#5e5e5e;}
.account-right .account-name {margin-bottom:19px;}
.profile-border {border:1px solid #cccccc; display:block; margin:12px 0 19px 0;}
.profile-border .border-head {border-bottom:1px solid #cccccc; padding:9px 16px; font-weight:bold;}
.profile-border .border-head p {margin:0; color:#000000;}
.profile-border .border-head a {color:#000000 !important; text-decoration:underline;}
.profile-border .border-head .pul-right{float:right;}
.profile-border .account-body {padding:9px 9px 19px 16px;}
.profile-border .account-body h5 {font-weight:bold; margin-bottom:19px;}
.account-body a {font-size:14px; color:#5e5e5e; text-decoration:underline; margin-top:19px; display:block;}
.padding15 {padding:16px !important;}

.order-img {display:inline-block; float:left;}
.order-des {display:inline-block; float:left; margin-left:16px; position:relative; height:198px;}
.order-des p {color:#555656; font-weight:normal;}
.order-des .pro-name {font-size:17px;}
.account-order {font-size:14px; padding:9px 16px 0 16px; } 
.account-order .padding15 {padding:6px 22px !important; border:0 !important;}
.account-order .input-cart {margin:auto; display:block;}
.border0 {border-left:0 !important; border-right:0 !important;}
.order-details {padding:0 19px;}
.order-details p {margin-bottom:4px;}
.order-details .date-area {float:left;}
.order-details .mode-area {float:left; margin-left:46px;}
.order-details .return-area {float:right;}
.return-area a {color:#fff; text-decoration:none; font-size:18px; margin:0; vertical-align:middle; padding:4px 19px;}
.order-total .border0 {padding:6px 22px !important;}
.order-wishlist .padding15 {padding:12px 22px !important; }
.wish-btn {position:absolute; left:0; bottom:0; padding:6px 26px;}
.order-wishlist .order-des {position:relative; height:189px;}

@media screen and (max-width:767px){
.account-left {width:100%; margin-right:0px; min-height:auto;  margin-bottom:16px; background:none; padding-bottom:0;}
.account-right {padding-top:19px;  margin-bottom:16px; width:100%; border-top:1px solid #ccc;}
.account-left ul {text-align:center;}
.account-left ul li {padding:6px 16px; text-align:center; display:inline-block; border:2px solid #ccc; margin:6px;}
.profile-border .border-head a {font-size:11px;}
.block-bg {display:block;}
.account_container .head_text {font-size:16px;}	
	}
@media screen and (max-width:500px){
.order-details p {font-size:12px;     float: none;}	
.order-details .date-area {padding:0; text-align:center; margin-bottom:12px;     float: none;}
.order-details .mode-area {padding:0; text-align:center; margin-bottom:12px; margin-left:0;     float: none;}
}
@media screen and (max-width:1024px){
.order-des {margin-left:0; margin-top:12px;}
}
@media screen and (min-width:768px) and (max-width:992px) {
.account-right {width:71%; padding-top:0;}
.account-left ul li {padding-left:16%;}
.block-bg {display:block;}
}
@media screen and (min-width:993px) and (max-width:1024px) {
	.account-left ul li {padding-left:16%;}
	.account-right {width:72%;  padding-top:0;}
}
