@charset "utf-8";
/* CSS Document */

.payment_container{width:990px; margin:0 auto;}

.check-table .white-bg{border-bottom:1px solid #ddd;}
.check-table .table>tbody>tr>td{border-right:1px solid #ddd; border-top:none;border-bottom: 1px solid #ddd;border-left:none;}

@media only screen and (max-width: 767px) {
	.payment_container{width:100%;}
	.full-black-bg{display: block;}
}