@charset "utf-8";
/* CSS Document */

.order-mode-area h5 {
    font-family: 'open_sansregular', sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
	font-weight: bold;
    color: #3d3c3c;
}

.order-mode-area small {
    color: #666;
    margin-bottom: 16px;
}

.tabL-width{ background:#f9f9f9;}

.order-mode-area .tabs-left, .tabs-right {
    border-bottom: none;
}

.order-mode-area .tabs-left>li {
    margin-bottom:6px;
    border-right:none;
    border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
.order-mode-area .tabs-left>li a{color:#242122; border:none;}
.order-mode-area .tabs-left>li.active{width: 100.5%;z-index: 10;}
.order-mode-area .tabs-left>li.active a{color:#00afa9;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{margin:0; border:none;}

.nav-tabs>li>a i.fa{margin-right:5%;}

.order-mode-area .tab-content {
    background: #fff;
    padding:15px 0;
	text-align: center;
    border: 1px solid #E0E0E0;height:auto;
}

.note{font-family: 'open_sansregular', sans-serif;
    font-size:12px;
    color: #3d3c3c;
	line-height:24px; margin:15px 0;}

.pay .red-btn{ margin:0 auto;}

.form_part{ margin-bottom:15px;}
.form_part label{color:#5d5d5d; font-size:14px; font-weight:600;font-family: 'open_sansregular', sans-serif;}
.form_part input, .form_part select{ border:1px solid #999999; padding:8px 15px;}
.form_part a{color:#00afa9; font-size:12px;font-family: 'open_sansregular', sans-serif; margin-left:-15%;}

@media only screen and (max-width: 767px){
.order-mode-area .tabs-left>li{border-right: 1px solid #ddd;}
.order-mode-area .tabs-left>li.active{width:100%;}
.form_part a{margin-left:0;}
.tab-content>.active{padding:0 10px;}
.form_part select{width:45% !important;}
}