@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	.parallax {width:150%;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner .banner-form {width: 270px !important;}
	.banner .banner-form .tab-title {margin-left:-13px; margin-right:-13px;}
	.banner .banner-form .tab-title div {padding:0 13px;}
	.col-lg-6.col-md-12.large-box {margin-bottom:25px;}
	#who-we-are .large-box .col-lg-6 img {height:350px;}
	#who-we-are .single-box img {width:100%;}
	#who-we-are .large-box .col-lg-6:last-child {padding:92px 30px;}
	#our-projects .masonary-item {height:205px;}
	#our-projects .masonary-item.height-1 {height:420px;}
	#testimonials .single-testimonial .profile-info {padding:15px 15px 15px 15px; width:100%;}
	#testimonials .single-testimonial .profile-info img {position:relative; bottom:30px; display:block; margin:auto;}
	#testimonials .single-testimonial .content {
		width: 100%;
		padding-bottom: 20px;
	}
	footer .widget img.positioned {
		margin-top: 50px;
	}
	#image-gallery-isotope .masonary-item {
		height: 205px;
	}
	#image-gallery-isotope .masonary-item.height-1 {
		height: 420px;
	}
	.mainmenu-container {
		margin-top: 30px;
	}
	header .mainmenu-container ul {
		text-align: center;
	}
	.service-tab-content .col-lg-4 img {
	  max-width: none;
	  width: 249px;
	  position: relative;
	  bottom: 2px;
	}
	#service-content .col-lg-8 button {
		margin-bottom: 10px;
	}
	#project-version-one .single-project-item .img-wrap img {
		width: 100%;
	}
	.faq .faq-content .faq-search input[type="text"] {
		width: 72%;
	}
	#blog-post .sidebar-widget .popular-post li img {
		width: 100px;
	}
	.testimonials_v1 .testimonials_v1_content .single_client .single_client_right::before {

	  left: 3px;
	  width: 100%;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .profile-info {
	  padding: 15px;
	  width: auto;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .content {
	  width: 75%;
	}
	.testimonials_v2 .testimonials_v2_content .single_client .single_client_right::before {

	  left: 3px;
	  width: 100%;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .profile-info {
	  padding: 15px;
	  width: auto;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .content {
	  margin-bottom: 0;
	  width: 66%;
	}

	#project-version-two.home-v2 .gallery-filter li span {
		margin: 10px 0;
	}
	#our-achivement .achivement ul li span {
		border: none;
		border-bottom: 1px dashed #fff;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	#our-achivement .achivement ul li span:last-child {
		border: none;
	}
	#why-choose-us .col-lg-3 {
		margin-bottom: 45px;
	}
	.home-v2 .blog-wrap img {
		max-height: 185px;
	}
	.home-v2 .blog-wrap.height-big img {
		max-height: 400px;
	}
	#subscribe-section .subscribe-form-wrap input {
		width: 60%;
	}
	.parallax {
		width: 150%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	button.navigation-toggler {
		display: block;
	}
	.banner .banner-form {
		display: none;
	}
	#promotional-text p {
		line-height: 45px;
		padding: 15px 0;
	}
	#who-we-are .large-box {
		margin-bottom: 20px;
	}
	#who-we-are .large-box .col-lg-6 img {
		height: 258px;
	}
	#who-we-are .single-box img {
		width: 100%;
	}
	.service-tab-title ul {
		margin-bottom: 25px;
	}
	.service-tab-title ul li {
		float: left;
		width: 235px;
	}
	.service-tab-title ul li:first-child {
		border: none;
	}
	#our-projects .masonary-item {
		width: 50%;
		height: 325px;
	}
	#our-projects .masonary-item.width-1 {
		width: 50%;
	}
	#our-projects .masonary-item.height-1 {
		height: 667px;
	}
	#our-projects .masonary-item.width-2 {
		width: 50%;
		height: 157px;
	}
	#testimonials .single-testimonial {
		margin-bottom: 45px;
	}
	#testimonials .single-testimonial .profile-info {
		padding: 15px 15px 15px 15px;
		width: 100%;
	}
	#testimonials .single-testimonial .profile-info img {
		position: relative;
		bottom: 30px;
		display: block;
		margin: auto;
	}
	#testimonials .single-testimonial .content {
		width: 100%;
		padding-bottom: 20px;
	}
	footer .footer-menu ul li a {
		padding: 0 20px;
	}
	header nav.mainmenu ul {
		text-align: center;
	}
	header nav.mainmenu ul.navigation {
		background: #012C3C;
		margin-top: 10px;
		float: none !important;
		display: none;
	}
	header nav.mainmenu ul li {
		display: block;
	}
	header nav.mainmenu ul li a {
		color: #fff;
	}
	.mainmenu.pull-right {
		float: right !important;
		width: 60%;
	}
	button.navigation-toggler {
		margin: 0 auto;
	}
	#image-gallery-isotope .masonary-item {
		width: 50%;
		height: 325px;
	}
	#image-gallery-isotope .masonary-item.width-1 {
		width: 50%;
	}
	#image-gallery-isotope .masonary-item.height-1 {
		height: 667px;
	}
	#image-gallery-isotope .masonary-item.width-2 {
		width: 50%;
		height: 157px;
	}
	header nav.mainmenu ul li a .fa-plus {
		display: inline-block;
	}
	.service-tab-content .col-lg-4 img {
	  width: 235px;
	}
	.service-tab-content .col-lg-4 {
		bottom: -89px;
	}
	button.mainmenu-toggler {
		display: block;
	}
	header .mainmenu-container ul li {
		line-height: 40px;
		display: block;
	}
	header .mainmenu-container ul.top-icons-wrap {
		margin-bottom: 30px;
	}
	header .mainmenu-container ul li.top-icons {
		display: inline-block;
	}
	header .mainmenu-container ul.mainmenu {
		float: none !important;
		display: none;
		text-align: center;
		clear: both;
		width: 75%;
		margin: auto;
		background: #12AEF8;
		border-radius: 5px;
	}
	header .mainmenu-container ul.mainmenu ul {
		position: static;
		opacity: 1;
		visibility: visible;
	}
	header .mainmenu-container ul.mainmenu li a {
		text-align: left;
		display: block;
		color: #FFF;
		line-height: 35px;
		font-size: 14px;
		font-weight: 600;
		padding: 0 20px;
		text-transform: capitalize;
		transition: all 0.3s ease 0s;
		border-bottom: 1px solid #E4E4E4;
	}
	header .mainmenu-container ul.mainmenu li a:hover,
	header .mainmenu-container ul.mainmenu li.current a {
		color: #fff;
		background: #FE5454;
		padding: 0 30px;
	}
	header .mainmenu-container ul.mainmenu li ul.submenu {
		display: none;
		transition: all .3s ease;
	}
	header .mainmenu-container ul.mainmenu li:last-child a {
		border-bottom: 1px solid #E4E4E4;
	}
	header .mainmenu-container ul.mainmenu li a:before {
		content: '';
		display: none;
	}
	header .mainmenu-container ul.mainmenu ul {
		width: 100%;
	}
	.mainmenu-container ul li.dropdown:after {
		display: none !important;
	}
	.mainmenu-container ul li.dropdown .fa {
		position: absolute;
		right: 7px;
		top: 5px;
		width: 35px;
		height: 25px;
		display: block;
		color: #FFF;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		z-index: 5;
		cursor: pointer;
		border: 1px solid #fff;
		border-radius: 5px;
	}
	header .logo {
		text-align: center;
	}
	header.header-fixed .mainmenu-container ul li {
		line-height: 45px;
	}
	header.header-fixed .mainmenu-container {
		padding-top: 15px;
	}
	#our-specialist .single-member {
		margin-bottom: 35px;
	}
	#our-mission .col-lg-7 .col-xs-6 {
		margin-bottom: 30px;
	}
	#service-content .col-lg-8 button {
		margin-bottom: 10px;
	}
	.faq .faq-content .faq-search input[type="text"] {
		width: 55%;
	}
	.testimonials_v1 .testimonials_v1_content .single_client .single_client_right::before {

	  left: 3px;
	  width: 100%;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .content {
		width: 100%;
	}
	.testimonials_v2 .testimonials_v2_content .single_client .single_client_right::before {

	  left: 3px;
	  width: 100%;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .content {
		width: 100%;
	}
	.parallax {
		width: 250%;
	}
	#why-choose-us .col-lg-3 {
		margin-bottom: 45px;
	}
	#our-achivement .achivement {
		margin: 15px 0;
	}
	#project-version-two.home-v2 .gallery-filter li span {
		margin: 15px 0;
	}
	#request-a-qoute-container .tab-content form ul li {
		padding: 0 20px;
		width: 50%;
		margin: 15px 0;
	}
	#request-a-qoute-container {
		margin-top: -55px;
	}
	.home-v2 .mainmenu-container ul.mainmenu li a:hover, 
	.home-v2 .mainmenu-container ul.mainmenu li.current a {
	    background: #012C3C;
	}
}

@media only screen and (max-width: 767px) {
	.container-details{width:100%;}
	button.navigation-toggler {
		display: block;
	}
	.banner .banner-form {
		display: none;
	}
	#promotional-text p {
		line-height: 35px;
		padding: 10px 0;
		font-size: 17px;
	}
	#who-we-are .large-box .col-lg-6 img {
		width: 100%;
		height: 364px;
	}
	#who-we-are .large-box {
		margin-bottom: 20px;
	}
	#who-we-are .single-box img {
		width: 100%;
	}
	.service-tab-title ul {
		margin-bottom: 25px;
	}
	.service-tab-title ul li {
		float: none;
		width: 100%;
	}
	.service-tab-title ul li:first-child {
		border: none;
	}
	#our-projects .masonary-item {
		width: 50%;
		height: 275px;
	}
	#our-projects .masonary-item.width-1 {
		width: 100%;
	}
	#our-projects .masonary-item.height-1 {
		height: 565px;
	}
	#our-projects .masonary-item.width-2 {
		width: 100%;
		height: 157px;
	}
	#our-specialist .col-lg-3 {
		width: 85%;
		margin: auto;
		margin-bottom: 35px;
		display: block;
	}
	#testimonials .col-lg-4 {
		width: 85%;
		margin: auto;
		margin-bottom: 35px;
		display: block;
		float: none;
	}
	#testimonials .single-testimonial .profile-info {
		padding: 15px  15px;
		width: 100%;
	}
	#testimonials .single-testimonial .profile-info img {
		position: relative;
		bottom: 30px;
		display: block;
		margin: auto;
	}
	#testimonials .single-testimonial .content {
		width: 100%;
		padding-bottom: 20px;
	}
	#blog .col-lg-6.blog-wrap {
		width: 95%;
		margin: auto;
		margin-bottom: 35px;
	}
	footer .widget img.positioned {
		margin-top: 0px;
		position: relative;
		top: 35px;
	}
	footer .col-xs-6.widget {
		width:100%; padding-left:15px; padding-right:15px;
		margin: auto;
		margin-bottom:6px;
	}
	footer .widget h3 {padding-bottom:0; font-weight:bold;}
	#who-we-are .large-box .col-lg-6 {
		width: 100%;
	}
	.service-tab-content .col-lg-4 {
		bottom: -85px;
	}
	#bottom-bar .container p {
		line-height: 37px; padding: 0 15px;
	}
	footer .container .col-lg-12 button {
		font-size: 17px;
		padding: 0px 15px;
	}
	#emergency .col-lg-3 {
		display: none;
	}
	#emergency,
	#emergency.team-page {
		background: #4EB1DC url("../img/emergency/bg.png") no-repeat scroll right center / cover;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.social.pull-left,
	.contact-info.pull-right {
		float: none !important;
	}
	.social.pull-left ul,
	.contact-info.pull-right ul {
		text-align: center;
	}
	#topbar .contact-info ul li {
		float: none;
		display: inline;
	}
	#featured .col-lg-4 img {
		float: none;
		width: 100%;
	}
	#blog-post article .post-title {
		width: 100%;
	}
	#blog-post article .post-date {
		float: none;
		margin: 0 auto 30px;
	}
	#page-title .page-breadcumb {
		position: static;
		margin-top: 30px;
	}
	#blog-post .sidebar-widget .popular-post li .content-wrap {
		width: 53%;
	}
	#blog-post .sidebar-widget .tag-cloud a {
		padding: 0 17px;
	}
	#emergency.service-page {
		background-color: #FFF;
		padding-top: 110px;
		margin-top: -75px;
	}
	#emergency.project-v1,
	#emergency.project-v2 {
		background-color: #FFF;
		padding-top: 110px;
		margin-top: -75px;
	}
	#project-version-one .single-project-item .img-wrap img {
		width: 100%;
	}

	#image-gallery-isotope .masonary-item {
		width: 50%;
		height: 275px;
	}
	#image-gallery-isotope .masonary-item.width-1 {
		width: 100%;
	}
	#image-gallery-isotope .masonary-item.height-1 {
		height: 565px;
	}
	#image-gallery-isotope .masonary-item.width-2 {
		width: 100%;
		height: 157px;
	}

	#image-gallery-isotope .masonary-item.width-2.height-1 {
		height: 273px;
	}
	#why-choose-us .col-lg-3 {
		margin-bottom: 35px;
	}
	
	.mainmenu-container {
		padding:9px 0;
	}
	button.mainmenu-toggler {
		display: block;
	}
	header .mainmenu-container ul li {
		line-height: 40px;
		display: block;
	}
	header .mainmenu-container ul.top-icons-wrap {
		margin-bottom:6px;
	}
	header .mainmenu-container ul li.top-icons {
		display: inline-block;
	}
	header .mainmenu-container ul.mainmenu {
		float: none !important;
		display: none;
		text-align: center;
		clear: both;
		width: 75%;
		margin: auto;
		background: #12AEF8;
		border-radius: 5px;
	}
	header .mainmenu-container ul.mainmenu ul {
		position: static;
		opacity: 1;
		visibility: visible;
	}
	header .mainmenu-container ul.mainmenu li a {
		text-align: left;
		display: block;
		color: #FFF;
		line-height: 35px;
		font-size: 14px;
		font-weight: 600;
		padding: 0 20px;
		text-transform: capitalize;
		transition: all 0.3s ease 0s;
		border-bottom: 1px solid #E4E4E4;
	}
	header .mainmenu-container ul.mainmenu li a:hover,
	header .mainmenu-container ul.mainmenu li.current a {
		color: #fff;
		background: #FE5454;
		padding: 0 30px;
	}
	header .mainmenu-container ul.mainmenu li ul.submenu {
		display: none;
		transition: all .3s ease;
	}
	header .mainmenu-container ul.mainmenu li:last-child a {
		border-bottom: 1px solid #E4E4E4;
	}
	header .mainmenu-container ul.mainmenu li a:before {
		content: '';
		display: none;
	}
	header .mainmenu-container ul.mainmenu ul {
		width: 100%;
	}
	.mainmenu-container ul li.dropdown:after {
		display: none !important;
	}
	.mainmenu-container ul li.dropdown .fa {
		position: absolute;
		right: 7px;
		top: 5px;
		width: 35px;
		height: 25px;
		display: block;
		color: #FFF;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		z-index: 5;
		cursor: pointer;
		border: 1px solid #fff;
		border-radius: 5px;
	}
	
	header.header-fixed {
		position: static;
	}
	header.header-fixed .mainmenu-container ul li {
		line-height: 45px;
	}
	header.header-fixed .mainmenu-container {
		padding-top: 15px;
	}
	.service-tab-content .col-lg-4 img {
		max-width: 100%;
	}
	#bottom-bar .copyright,
	#bottom-bar .credit {
		float: none !important;
		width: 100%;
		text-align: center;
	}
	footer .footer-menu ul {
		background: #14aff8;
		text-align: left;
		display: none;
	}
	footer .footer-menu ul li {
		display: block;
	}
	footer .footer-menu ul li a {
		color: #fff;
		display: block;
	}
	footer .footer-menu ul li:hover a {
		background: #FE5454;
		color: #fff;
	}
	footer .footer-menu .footer-nav-toggler {
		background: #fff;
		border: none;
		outline: none;
		color: #FE5454;
		border: 3px solid #FE5454;
		height: 40px;
		line-height: 38px;
		padding: 3px 7px;
		display: block;
		margin: auto;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	footer .footer-menu .footer-nav-toggler:before {
		background: #FE5454;
	}
	footer .footer-menu .footer-nav-toggler:hover,
	footer .footer-menu .footer-nav-toggler:focus,
	footer .footer-menu .footer-nav-toggler:active {
		border-color: #fff;
		color: #fff;
	}
	#emergency.about-page {
		background-color: #51B7E3;
	}
	#our-mission .col-lg-7 .col-xs-6 {
		width: 85%;
		margin: auto;
		display: block;
		float: none;
		margin-bottom: 30px;
	}
	#service-content .col-lg-8 button {
		margin-bottom: 10px;
	}
	#service-content .col-lg-8 h1 {
		margin-bottom: 30px;
	}
	.faq .faq-content .faq-search input[type="text"] {
		width: 95%;
		margin-bottom: 15px;
	}
	#blog-post article .general-question .panel-body .panel_body_up h2 {
		font-size: 16px;
	}
	.general-question .panel-body .panel_body_down .panel_down_img {
	  float: none;
	  text-align: center;
	}
	.general-question .panel-group .panel-default .panel-title a {
	  display: block;
	  line-height: 23px;
	  padding-right: 35px;
	  position: relative;
	}
	#blog-post article .popular-question h2:after {
		display: none;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .content {
		width: 100%;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .content {
		width: 100%;
	}
	#page-title .title h1 {
	  padding: 0 28px;
	}
	#blog-post .no-search-content .suggesion-input input[type="text"] {
	  width: 51%;
	}
	#request-a-qoute-container {
		margin-top: 75px;
	}
	#request-a-qoute-container .container .request-a-qoute-with-tooltip {
		display: block;
		left: 4%;
		top: -60px;
		width: 85%;
		margin: auto;
		font-size: 17px;
	}
	#request-a-qoute-container .tab-content form ul li {
		width: 100%;
		margin: 10px 0;
	}
	#image-gallery-isotope .masonary-item,
	#image-gallery-isotope .masonary-item.width-2.height-1,
	#image-gallery-isotope .masonary-item.height-1 {
		height: auto;
	}
	#our-achivement .achivement {
		margin: 15px 0;
	}
	.parallax {
		width: 600%;
	}
	#subscribe-section .subscribe-form-wrap input {
	  width: 80%;
	  display: block;
	  margin: 10px auto;
	}
	#subscribe-section .subscribe-form-wrap button {
		display: block;
	}
	#request-a-qoute-container .tab-title ul li span {
		padding: 0 15px;
	}
	.home-v2 .mainmenu-container ul.mainmenu li a:hover, 
	.home-v2 .mainmenu-container ul.mainmenu li.current a {
	    background: #012C3C;
	}
	
/*-------------home gallery responsive -------------------------*/	

.home-gallery .div-left {width:100%; float:none;}
.left-col {width:100%; float:none;}
.left-col img {height:auto;} 	
.right-col {width:100%; float:none; margin-left:0;} 
.right-col img {height:auto;}
.home-gallery .div-right {width:100%; float:none; margin-left:0; margin-bottom:30px;}

footer .widget .social {text-align:center;}

/*-------------product list responsive -------------------------*/	
.text-content {width:100%; padding-left:0;}
#list-banner {padding:10px 0;}
#list-banner h1 {margin:0 0 6px 0;}	
.text-content p {font-size:13px; line-height: 16px; margin-bottom:9px;}
.content-link a { margin-right:6%;}
.container-details3 {width:100%;}
.container-details3 .paddingL0 {padding-right:0;}
.container-details3 .form-fliter {margin:2px; text-align:center; display:block;}
.filter-right {text-align:center; float:none;}
.form-fliter .m-filter-dropdown {width:100%;}
.left-fliter {width:100%; padding:19px 15px; min-height: auto; margin:auto;}
.right-list .custom-padd {padding:0; margin:16px 0;} 
	
/*-------------Header responsive -------------------------*/	

header .logo {text-align: center;  width:266px; margin:auto; display:block; margin-top:9px;  margin-bottom:9px;}
header .logo img {width:100%;}
header .navbar {margin-bottom:6px;}
.top-nav {text-align:center;}
.full-menubar {padding:0;}
.drop-width {width:100%; border-right:0; border-bottom:1px solid #424242; text-align:left; }
.drop-widthR {width:100%; text-align:left;  color:#CAC7C7; margin-top:16px;}	
.drop-01 {display:none;}
.img-desc {color:#CAC7C7;}
.img-desc h4 {margin-bottom:4px; font-size:15px;}
.img-desc p {font-size:12px;}
.navbar-collapse {padding-bottom:19px;}
#our-projects {padding-top:9px;}
.right-col {margin-bottom:15px;}
.left-col {margin-bottom:15px;}
.storiesw-1 {width:100%; margin-bottom:16px;}
.stories-bg {padding:26px;}
.storiesw-2 {width:100%; margin-left:0;}
footer .widget .sign_btn {padding:0;}
.full-menubar .nav>li {margin-bottom:2px; background:#000;}	
.storiesw-2 br {display:none;}	
.top-navR .top-drop {margin-right:15px;}
.top-navR {float:none;}
.custom-padd {margin-bottom:26px;}
#list-product .section-title {margin-bottom:26px;}
.container-details2 {width:100%;}
.right-content-img {float:none; margin:auto; width:100%; margin-bottom:16px;}
.left-content-img {float:none; margin:auto; width:100%; margin-top:16px;}
.mob-padding {padding:0 15px;}
ul.thumbnails li {width:23%; margin:1%; float:left; margin-top:9px; height:auto;}
ul.thumbnails li img {width:100%;}
.poduct-name {margin-top:26px;}
.breadcrumb {text-align:center;}
.breadcrumb a {font-size:12px;}
.breadcrumb > .active {font-size:12px;}
.indiakala-questext {margin-left:0; font-size:14px;}
.form-n-cont {width:100%;}
.why-course01 {padding:0;}
.test-para {padding:0;}
.button01 {margin-top:16px;}
.cont-MTOp .fom-L0 {padding:0 15px;}
.cont-MTOp .text-mid01 {padding:0 15px;}
.cont-MTOp .text-mid {padding:0 15px;}
.text-latest-form {padding-left:0;}
.sign-up-text {padding:16px 0 0 0;}
.fa-tim01 {margin:auto; text-align:center; margin-bottom:9px; display:block;}
.fa-tim {margin:auto; text-align:center; margin-bottom:9px; display:block;}
.fa-timM0  {margin:auto; text-align:center; margin-bottom:9px; display:block;}
.con-btn {float:none; text-align:center; margin:auto; margin-top:26px; width:219px;}
.check-btn {float:none; text-align:center;  margin:auto; margin-top:26px; display:block; width:219px;}
.tab-content {height:100%; margin-bottom:16px; padding:0;}
.L-mob {padding-left:0;}
.R-mob {padding-right:0;}
.full-black-bg {display:none;}
.cart-table img {width:89px;}
.custom-padd img.img-responsive{width: 100%;}
}
@media screen and (min-width:768px) and (max-width:992px) {
	.full-black-bg {display:none;}
.top-iconR .searchR {margin-right:6px; margin-left:6px;}
.top-navR .top-drop {margin-right:12px;}
.hvr-float-shadow {margin-bottom:26px;}
.stories-bg {padding:36px;}
.storiesw-2 {width:36%;}
.storiesw-2 br {display:none;}
footer .widget .social {text-align:center;}
.cart-total .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:12px;}	
.cart-tab {width:100%;}
.width-full {width:100%;}

.home-gallery .div-left {width:70%;}
.home-gallery .div-right {width:27%; margin-left:15px;}
.left-col {width:60%; margin-bottom:15px;}
.right-col { width:36.3%; margin-left:0px; margin-bottom:15px;}
.rightMar {margin-right:15px;}
.left-col img {height:187px;}
.right-col img {height:187px;}
.home-gallery .div-right img {height:389px;}
body {overflow-x:hidden;}

.left-fliter {width:inherit; padding:19px 15px; min-height: auto; margin:auto;}
.right-list .custom-padd {margin:16px 0; padding:0 15px;}
.container-details {width:100%;}
.container-details2 {width:100%;}
.custom-padd { padding:0 15px;}
ul.thumbnails li {width:23%; margin:1%; float:left; margin-top:9px;}
ul.thumbnails li img {width:100%;}

}
@media screen and (min-width:993px) and (max-width:1199px) {
.home-gallery .div-left {width:70%;}
.home-gallery .div-right {width:27%; margin-left:15px;}
.left-col {width:60%; margin-bottom:15px;}
.right-col { width:36.3%; margin-left:0px; margin-bottom:15px;}
.rightMar {margin-right:15px;}
.left-col img {height:256px;}
.right-col img {height:256px;}
.home-gallery .div-right img {height:527px;}
.storiesw-2 {width:20%;}
.storiesw-2 br {display:none;}
.right-list .custom-padd {padding:0 19px;}
.container-details3 {width:100%;}	
.container-details {width:100%;}
.container-details2 {width:100%;}
ul.thumbnails li {width:23%; margin:1%; float:left; margin-top:9px;}
ul.thumbnails li img {width:100%;}	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	footer .widget img.positioned {
		margin-top: 10px;
	}
	footer .widget img.positioned {
		margin-top: 0;
		position: relative;
		top: 53px;
	}
	#who-we-are .large-box {
		float: none;
	}
	#who-we-are .large-box .col-lg-6 {
		float: none;
		margin: auto;
		width: 85%;
		display: block;
	}
	#who-we-are .single-box {
	  display: block;
	  width: 85%;
	  float: none;
	  margin: auto;
	  margin-bottom: 40px;
	}
	#who-we-are .single-box:last-child {
		margin-bottom: 0;
	}
	.service-tab-title ul li {
		float: left;
		width: 50%;
	}
	#our-projects .masonary-item {
		width: 50%;
		height: 203px;
	}
	#our-projects .masonary-item.width-1 {
		width: 50%;
	}
	#our-projects .masonary-item.height-1 {
		height: 416px;
	}
	#our-projects .masonary-item.width-2 {
		width: 100%;
		height: 210px;
	}
	#testimonials .col-lg-4 {
	  margin: auto auto 35px;
	  width: 85%;
	  float: none;
	  display: block;
	}
	#testimonials .single-testimonial {
		margin-bottom: 45px;
	}
	#testimonials .single-testimonial .profile-info {
		padding: 15px 0px 15px 15px;
		width: auto;
	}
	#testimonials .single-testimonial .profile-info img {
		position: relative;
		bottom: 30px;
		display: block;
		margin: auto;
	}
	#testimonials .single-testimonial .content {
		width: 63%;
		padding-bottom: 20px;
	}
	#blog .col-lg-6.blog-wrap {
		width: 85%;
		margin: auto;
		margin-bottom: 35px;
		float: none;
		display: block;
	}
	#bottom-bar .container p {
		line-height: 45px;
	}
	footer .container .col-lg-12 button {
		font-size: 20px;
		padding: 0px 45px;
	}
	footer .col-xs-6.widget {
		width: 50%;
		margin: auto;
		margin-bottom: 35px;
	}
	#blog-post .sidebar-widget .popular-post li .content-wrap {
		width: 68%;
	}

	#image-gallery-isotope .masonary-item {
		width: 50%;
		height: 203px;
	}
	#image-gallery-isotope .masonary-item.width-1 {
		width: 50%;
	}
	#image-gallery-isotope .masonary-item.height-1 {
		height: 416px;
	}
	#image-gallery-isotope .masonary-item.width-2 {
		width: 100%;
		height: 157px;
	}
	#image-gallery-isotope .masonary-item.width-2.height-1 {
		height: 417px;
	}
	.service-tab-content {
	  width: 85%;
	  display: block;
	  margin: auto;
	}
	#our-mission .col-lg-7 .col-xs-6 {
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}
	#featured-service .col-xs-12 {
		width: 85%;
		float: none;
		margin: auto;
		display: block;
	}
	#featured-service .img-holder {
	  display: block;
	  margin: 23px auto auto;
	  overflow: hidden;
	  position: relative;
	  width: 270px;
	}
	#pricing-content .price-table-wrap .price-table {
		float: none;
		width: 85%;
		margin: auto;
		display: block;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .content {
	  width: 69%;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .content {
	  width: 69%;
	}
	#blog-post .no-search-content .suggesion-input input[type="text"] {
  		width: 70%;
	}
	#request-a-qoute-container .tab-content form ul li button {
		width: 65%;
		margin: auto;
		display: block;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
	footer .widget img.positioned { margin-top:0; position: relative;
	  top: 34px;
	}
	.testimonials_v1 #testimonials.testimonials_v1_content .single-testimoinal-wrap .single-testimonial .content {
	  width: 77%;
	}
	.testimonials_v2 #testimonials.testimonials_v2_content .single-testimoinal-wrap .single-testimonial .content {
	  width: 77%;
	}
}