@charset "utf-8";
/* CSS Document */

.thank_container{width:666px; margin:0 auto; text-align:center;}
.sucess{color:#5e5e5e;font-family: 'open_sansregular', sans-serif;}
.congoz{color:#030202;font-family: 'bebas_neue_regularregular';}

.order_confirm{ padding:35px 0; border-top:2px dotted #ddd;  border-bottom:2px dotted #ddd; margin:25px 80px 38px;}
.share_area{border-bottom:2px dotted #ddd; margin:0 80px; padding-bottom:50px;}

.share_icon li{ display:inline-block;width:45%; margin-left:5%;}
.share_icon li:first-child{margin-left:0;}
.share_icon li img{max-width:100%;}

.order_question{ background:url(../img/question_icon.png) no-repeat;color:#eb2027;font-family: 'open_sansregular', sans-serif; font-size:21px;margin:14px 65px;padding: 6px 0 6px 64px;}

@media only screen and (max-width: 767px) {
	.thank_container{width:100%;}
	}

